* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: Helvetica, sans-serif;
  color: black;
  height: 100%;
  font-size: 20px;
  word-break: break-all;
}

.main-block {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #6dae81;
  min-height: 60px;
  color: white;
}

footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #6dae81;
  min-height: 60px;
}

main {
  display: flex;
  flex: 13;
  background-color: #dcdcdc;
}

.form_body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form_body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.9) url("../imgs/loadingimg.gif") center / 50px
    no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.form_body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form-block {
  margin: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #a8cdb3;
}

.message-block {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  background-color: #a8cdb3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.message-block._info {
  margin: 10px;
  padding: 10px 30px 10px 30px;
  opacity: 1;
  visibility: visible;
}

.form-block > label {
  margin-bottom: 5px;
  border-bottom: 2px solid green;
}

.form_input {
  height: 25px;
  border-radius: 5px;
  padding: 0 10px;
}

.form-block > select {
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

.form-block > textarea {
  min-height: 100px;
  border-radius: 5px;
  padding: 4px 10px;
  resize: vertical;
}

.form-block._error {
  box-shadow: 0 0 15px red;
}

.options-radio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.options-radio input {
  margin-right: 5px;
  margin-top: 3px;
  cursor: pointer;
}

.options-radio label {
  cursor: pointer;
}

.photo-input {
  position: relative;
}

main button {
  width: 55%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  border-radius: 5px;
  background-color: #4a8c5e;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 1px 0 #192f20;
  transition: background-color 0.5s ease 0s;
  color: white;
}

main button:hover {
  background-color: #3f7551;
}
