:root {
  --default-font-size: 20px;
  --x-y-font-size: 1vw;
  --x-y-bottomcenter-background: white;
  --navigation-font-size: 2vw;
  --navigation-bottom-borders: 2px solid;
  --navigation-hover-color: lightskyblue;
  --navigation-font-color: black;
  --header-footer-background: lightblue;
  --aside-background: lightgreen;
  --leftcenter-topcenter-background: lightsalmon;
  --blocks-borders: 1px solid;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: "Times New Roman", Times, serif;
  height: 100%;
  font-size: var(--default-font-size);
}

.main-block {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.top {
  display: flex;
  flex: 5;
  flex-direction: row;
}

footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  text-align: left;
  background-color: var(--header-footer-background);
  border: var(--blocks-borders);
}

.left {
  display: flex;
  flex: 4;
  flex-direction: column;
}

aside {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: right;
  text-align: right;
  background-color: var(--aside-background);
  border: var(--blocks-borders);
}

header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-footer-background);
  border: var(--blocks-borders);
}

main {
  display: flex;
  flex: 4;
  flex-direction: row;
}

.left-center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--leftcenter-topcenter-background);
  border: var(--blocks-borders);
}

.center {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.top-center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: left;
  text-align: left;
  background-color: var(--leftcenter-topcenter-background);
  border: var(--blocks-borders);
}

.bottom-center {
  display: flex;
  flex: 6;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--x-y-bottomcenter-background);
  border: var(--blocks-borders);
}

.x {
  display: flex;
  flex: 8;
  justify-content: center;
}

.x h3 {
  padding: 5%;
  font-size: var(--x-y-font-size);
  background-color: var(--x-y-bottomcenter-background);
  border: var(--blocks-borders);
}

nav {
  display: flex;
  flex: 22;
  justify-content: space-around;
  margin-right: 5%;
}

nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: var(--navigation-font-size);
  color: var(--navigation-font-color);
  border-bottom: var(--navigation-bottom-borders);
}

nav a:hover {
  background-color: var(--navigation-hover-color);
}

.footer-left {
  display: flex;
  flex: 4;
}

.y {
  display: flex;
  flex: 1;
  justify-content: center;
}

.y h3 {
  padding: 5%;
  font-size: var(--x-y-font-size);
  background-color: var(--x-y-bottomcenter-background);
  border: var(--blocks-borders);
}

ul {
  padding-left: 7%;
}

ol {
  padding-left: 7%;
}

img {
  max-width: 100%;
  max-height: 100%;
}
